.about-work__list {
  @include list-reset();
  display: flex;
  flex-direction: column;
}

.about-work {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .about-work__list {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .about-work__title {
    margin-bottom: 40px;
  }
}