.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.account__phone {
  font-size: 16px;
  color: $second-color;
  margin-bottom: 15px;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .account {
    margin-bottom: 0;
  }

  .account__phone {
    margin-bottom: 0;
    font-size: 14px;
    margin-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .account {
    flex-direction: row;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-image: url("../img/icon-phone.svg");
      background-color: $phone-widget-color;
      background-size: 35px auto;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 75px;
      left: 100%;
      transform: translateX(-100%);
      cursor: pointer;
    }
  }

  .account__phone {
    font-size: 16px;
  }
}
