.button {
  font-size: 14px;
  border-radius: 20px;
  border: none;

  &--login {
    width: 50%;
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid $border-color;
    color: $menu-font-color;
  }

  &--submit,
  &--request {
    color: $main-font-color;
    padding: 10px 15px;
    box-shadow: 0.2px 0.5px 2.4px 0.1px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to top, $main-color, $button-color);
  }

  &--all {
    padding: 10px 20px;
    box-shadow: 0 0.5px 2.4px 0.1px rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top, $main-color, $button-color);
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $active-color;
    background-image: none;
  }
}

@media (min-width: $tablet-width) {
  .button {
    &--login {
      width: 100px;
      padding: 5px 10px;
    }

    &--submit,
    &--request {
      width: 150px;
      align-self: center;
      padding: 10px;
    }

    &--all {
      padding: 20px;
      width: 200px;
    }
  }
}

@media (min-width: $desktop-width) {
  .button {
    &--login {
      font-size: 14px;
      width: 150px;
      padding: 10px;
    }

    &--submit {
      align-self: flex-end;
    }

    &--all {
      background-color: $menu-font-color;
      background-image: none;
      padding: 10px;
      box-shadow: 0 0 7.1px 0.4px rgba(0, 0, 0, 0.1);
    }
  }
}
