.counter {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 40px;
  padding-top: 30px;
  position: relative;

  &::before {
    content: "";
    width: 100vw;
    height: 2px;
    display: block;
    background-color: $border-color;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}

.counter__block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &--date {
    flex-direction: column;
  }
}

.counter__title {
  font-size: 26px;
  margin: 0;
  text-align: center;
}

.counter__title-name {
  text-transform: uppercase;
}

.counter__date {
  font-size: 18px;
  color: $second-font-color;
  text-align: center;
  margin: 0;
}

.counter__numbers {
  font-size: 24px;
  font-weight: 500;
  color: $button-color;
  margin: 0;
  margin-right: 10px;
}

.counter__description {
  margin: 0;
  font-size: 16px;
}

@media (min-width: $tablet-width) {
  .counter {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .counter__block {
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .counter {
    padding: 20px 60px;
    margin-bottom: 70px;
    border-radius: 10px;
    box-shadow: 0 0 7.1px 0.4px rgba(0, 0, 0, 0.1);

    &::before {
      display: none;
    }
  }
}