.faq {
  margin-bottom: 40px;
}

.faq__list {
  @include list-reset();
  display: flex;
  flex-direction: column;
}

.faq__list-item {
  border: 1px solid $border-color;
  padding: 20px;

  &:not(:last-child) {
    border-bottom: none;
  }
}

.faq__item-content {
  display: none;
}

.faq__item-input:checked ~ .faq__item-content {
  display: block;
}

.faq__item-input:checked ~ .faq__item-title {
  color: $main-color;
  font-weight: 500;
  margin-bottom: 20px;
}

.faq__item-title {
  font-size: 18px;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 70px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--payment {
    &::before {
      background-image: url("../../img/icon-payment.png");
    }
  }

  &--cleaning {
    &::before {
      background-image: url("../../img/icon-cleaning.png");
    }
  }

  &--personal {
    &::before {
      background-image: url("../../img/icon-personal.png");
    }
  }
}

.faq__item-questions {
  padding: 0 10px;
  margin: 0;
}

.faq__item-question {
  text-decoration: underline dashed;

  a {
    color: $main-font-color;
    text-decoration: none;
    line-height: 24px;
  }
}

@media (min-width: $tablet-width) {
  .faq__list {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
  }

  .faq__item-content {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: $menu-font-color;
    border-radius: 10px;
    box-shadow: 0 2.5px 7.5px 0 rgba(0, 0, 0, 0.1);
    width: 690px;
  }

  .faq__list-item {
    border: none;
    padding: 0;
  }

  .faq__item-questions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 210px;
  }

  .faq__item-question {
    width: 53%;
  }

  .faq__item-title {
    padding: 10px 20px;
    background-color: $menu-font-color;
    border-radius: 10px;
    box-shadow: 0 2.5px 7.5px 0 rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: $desktop-width) {
  .faq {
    position: relative;
    margin-bottom: 90px;

    &::before {
      content: "";
      display: block;
      width: 100vw;
      height: 550px;
      background-color: $background-color;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .faq__title {
    margin-bottom: 50px;
  }

  .faq__list-item {
    width: 30%;
  }

  .faq__item-content {
    top: 110px;
    width: 100%;
    padding: 20px 60px;
  }

  .faq__item-question {
    width: 48%;
  }
}
