.features {
  margin-bottom: 40px;
  padding: 30px 0;
  position: relative;

  &::before,
  &::after {
    content: "";
    width: 100vw;
    height: 2px;
    display: block;
    background-color: $border-color;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.features__title {
  text-align: left;
}

.features__list {
  @include list-reset();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.features__list-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    content: "";
    width: 70px;
    height: 54px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--eco {
    &::before {
      background-image: url("../img/icon-eco.png");
    }
  }

  &--best {
    &::before {
      background-image: url("../img/icon-best.png");
      width: 60px;
    }
  }

  &--technology {
    &::before {
      background-image: url("../img/icon-technology.png");
    }
  }

  &--love {
    &::before {
      background-image: url("../img/icon-love.png");
    }
  }
}

@media (min-width: $tablet-width) {
  .features__title {
    text-align: center;
    margin-bottom: 60px;
  }

  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .features__list-item {
    width: 45%;
  }
}

@media (min-width: $desktop-width) {
  .features {
    position: relative;
    height: 460px;
    padding: 100px 0;
    margin-bottom: 50px;

    &::before {
      height: 460px;
      width: 100vw;
      overflow: hidden;
      background-image: url("../img/features-back.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }

    &::after {
      display: none;
    }
  }

  .features__list-item {
    width: 23%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 20px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &::before {
      margin-right: 0;
      margin-bottom: 25px;
      height: 100px;
      background-size: contain;
    }

    &--eco {
      &::before {
        width: 70px;
        margin-bottom: 30px;
      }
    }

    &--best {
      &::before {
        width: 70px;
      }
    }

    &--technology {
      &::before {
        width: 90px;
      }
    }

    &--love {
      &::before {
        width: 100px;
      }
    }
  }
}
