.feedback__list {
  @include list-reset();
  margin-bottom: 20px;
}

.feedback__title {
  margin-bottom: 40px;
}

.feedback__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  p {
    margin: 0;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../../img/avatar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.feedback__author {
  text-decoration: none;
  color: $feedback-link-color;
  font-weight: bold;
}

.feedback__content-button {
  color: $feedback-link-color;
}

.feedback__text {
  p {
    margin: 0;
  }
}

.feedback__nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.feedback__nav-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $border-color;
  border: none;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    top: 50%;
    left: 45%;
    transform: translate(-45%, -50%);
  }

  &--prev {
    &::before {
      border-width: 10px 10px 10px 0;
      border-color: transparent $header-background transparent transparent;
    }
  }

  &--next {
    &::before {
      left: 55%;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent $header-background;
    }
  }
}

.feedback__button {
  margin: 0 auto;
}

.feedback__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .feedback__container {
    position: relative;
  }

  .feedback__item {
    padding: 20px 80px;
    margin: 0 auto;
    background-color: $menu-font-color;
    border-radius: 10px;
    box-shadow: 0 2.5px 7.5px 0 rgba(0, 0, 0, 0.1);
    width: 680px;
    position: relative;
  }

  .feedback__info {
    justify-content: flex-start;
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: -60px;
    }
  }

  .feedback__text {
    font-size: 12px;
  }

  .feedback__author {
    margin-right: 10px;
  }

  .feedback__date {
    font-size: 12px;
  }

  .feedback__nav-buttons {
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: $desktop-width) {
  .feedback__title {
    margin-bottom: 50px;
  }

  .feedback__list {
    position: relative;
    padding-top: 70px;
    margin-bottom: 40px;

    &::before {
      content: "";
      display: block;
      width: 100vw;
      height: 560px;
      background-image: url("../../img/feedback-back.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
  }

  .feedback__item {
    width: 100%;
  }

  .feedback__nav-buttons {
    width: 105%;
    bottom: 45%;
  }
}
