.form {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 40px;
}

.form__request {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form__choose-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form__option-description {
  margin: 0;
  margin-right: 10px;
}

.form__option-list {
  flex-grow: 1;
  padding: 5px 15px;
  border-radius: 5px;  
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    border-color: $active-color;
  }
}

.form__offer {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.form__offer-type {
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .form {
    flex-direction: column;
  }

  .form__choose-option {
    flex-direction: column;
    margin-bottom: 0;
  }

  .form__request {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    background-color: $menu-font-color;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }

  .form__offer {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .form {
    margin-bottom: 80px;
  }

  .form__request {
    width: 720px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .form__option-description {
    color: $header-background;
    font-weight: 300;
  }

  .form__option-list {
    width: 230px;
  }

  .form__offer {
    font-size: 18px;
    color: $menu-font-color;
  }

  .form__offer-type {
    font-weight: normal;

    &--code {
      color: $second-color;
    }
  }
}
