.header {
  background-color: $header-background;
}

.header__block {
  padding: 20px 20px 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.header__logo {
  flex-grow: 1;
  text-align: center;
}

.header__menu-button {
  background-color: transparent;
  border: none;
  background-image: url("../../img/icon-close.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 28px;

  &--closed {
    background-image: url("../../img/icon-mobile-menu.svg");
  }
}

.header__navigation {
  display: flex;
  flex-direction: column;

  &--close {
    display: none;
  }
}
