.intro {
  padding: 45px 20px;
  margin-bottom: 40px;
  min-height: 320px;
  font-family: $second-font;
  font-weight: bold;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    display: block;
    width: 100vw;
    height: 320px;
    overflow: hidden;
    background-image: url("../img/intro-back-mob.jpg");
    background-color: $header-background;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.intro__title {
  margin: 0;
  color: $menu-font-color;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 15px;
}

.intro__offer {
  font-size: 18px;
  line-height: 28px;
  color: $menu-font-color;
  text-align: center;
}

.intro__offer-description {
  margin: 0;
  margin-bottom: 15px;
}

.intro__offer-price {
  color: $main-color;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .intro {
    margin-bottom: 10px;

    &::before {
      display: none;
    }
  }

  .intro__title {
    font-size: 46px;
    line-height: 60px;
  }

  .intro__offer {
    font-size: 28px;
  }
}

@media (min-width: $desktop-width) {
  .intro__offer {
    font-size: 36px;
  }

  .intro__offer-price {
    font-size: 48px;
  }
}
