.item {
  padding-top: 30px;
  position: relative;

  &::before,
  &::after {
    content: "";
    width: 100vw;
    height: 2px;
    display: block;
    background-color: $border-color;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.item__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: medium;

  &::before {
    content: "";
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid $menu-font-color;
  }

  &--light {
    &::before {
      background-color: $main-color;
    }
  }

  &--general {
    &::before {
      background-color: $second-color;
    }
  }
}

.item__todo-list {
  @include list-reset();
  padding: 0 10px;
  margin-bottom: 20px;
}

.item__todo-description {
  &::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    background-image: url("../../img/icon-tick.svg");
    background-repeat: no-repeat;
  }

  &--additional {
    &::before {
      content: "+";
      color: $main-color;
      background-image: none;
    }
  }
}

.item__price {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.item__price-description {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 10px;
}

.item__price-description-feature {
  font-size: 12px;
}

.item__price-cost {
  font-size: 24px;
  flex-grow: 1;
  margin: 0;
}

.item__make-request {
  border-top: 2px solid $background-color;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__additional-list-title {
  margin: 0;
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 590px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &::before,
    &::after {
      display: none;
    }
  }

  .item__make-request {
    margin-top: auto;
  }

  .item__title {
    font-size: 24px;
    text-align: center;
  }

  .item__todo-description {
    font-size: 16px;
  }

  .item__additional-list-title {
    align-self: flex-start;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .item {
    width: 45%;
    height: 650px;
    padding: 30px 15px;
    border-radius: 10px;
    box-shadow: 0 0 7.1px 0.4px rgba(0, 0, 0, 0.1);
  }

  .item__title {
    margin-bottom: 40px;
  }

  .item__additional-list-title {
    margin-left: 35px;
  }

  .item__price {
    font-size: 16px;    
    line-height: 20px;
    font-weight: 300;
  }

  .item__price-description {
    color: $main-font-color;
  }

  .item__price-description-feature {
    font-size: 14px;
    color: $header-background;
  }

  .item__price-cost {
    font-size: 38px;
    font-weight: 500;
  }

  .item__todo-list {
    margin-bottom: 30px;
  }

  .item__make-request {
    border: none;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 140%;
      height: 2px;
      margin-bottom: 30px;
      background-color: $border-color;
    }
  }
}
