html {
  box-sizing: border-box;
  outline: 1px solid red;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 28px;
  font-family: $main-font;
  color: $main-font-color;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
.visually-hidden:not(:focus):not(:active),
input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1050px;
}

a,
input + label,
button {
  cursor: pointer;
}

a {
  &:hover,
  &:active,
  &:focus {
    color: $active-color;
  }
}

button {
  &:hover,
  &:active,
  &:focus {
    background-color: $active-color;
  }
}

input[type="radio"]:hover ~ label {
  color: $active-color;
}

.title {
  font-family: $main-font;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  margin: 0;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .title {
    font-size: 36px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding: 0 30px;
  }
}
