.main-nav__list {
  @include list-reset();
}

.main-nav__item-link {
  color: $menu-font-color;
  text-decoration: none;
  font-size: 18px;
}

.main-nav__item {
  padding: 10px 20px;
  border: 1px solid $border-color;

  &:not(:first-child) {
    border-top: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__item-link {
    font-size: 16px;
  }

  .main-nav__item {
    border: none;
    padding: 5px;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
  }
}