.types-item__description {
  display: none;
}

.types-item__input:checked ~ .types-item__description {
  display: block;
}

.types-item__input ~ label {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
  color: $header-background;

  &::after {
    content: "";
    margin-left: 10px;
    width: 12px;
    height: 12px;
    border-top: 5px solid $main-color;
    border-right: 5px solid $main-color;
    transform: rotate(45deg);
  }
}

.types-item__input:checked ~ .types-item__title {
  font-weight: bold;
  margin-bottom: 10px;

  &::after {
    transform: rotate(135deg);
  }
}

.types-item {
  border: 1px solid $main-color;
  padding: 10px;

  &:not(:first-child) {
    border-top: none;
  }
}

.types-item__image {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .types-item {
    border: none;
    padding: 0 10px;
  }

  .types-item__title {
    font-size: 18px;
    font-weight: normal;
  }

  .types-item__input ~ label {
    font-size: 16px;

    &::after {
      display: none;
    }
  }

  .types-item__input:checked ~ .types-item__title {
    font-weight: normal;
    color: $active-color;
    margin-bottom: 0;
  }

  .types-item__todo-list {
    display: none;
  }

  .types-item__description {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
  }

  .types-item__image {
    max-width: 720px;
    height: auto;
  }
}

@media (min-width: $desktop-width) {
  .types-item__input ~ label {
    border-bottom: 1px dashed $header-background;
    line-height: 18px;
  }

  .types-item__input:checked ~ label {
    border: none;
  }
}