$tablet-width: 768px;
$desktop-width: 1200px;
$main-font-color: #000000;
$second-font-color: #212121;
$main-color: #82eaad;
$button-color: #6fe0f2;
$active-color: #62d5e9;
$second-color: #f6ff00;
$background-color: #f8f8f8;
$main-font: "Lato", arial, sans-serif;
