$tablet-width: 768px;
$desktop-width: 1200px;
$main-font-color: #000000;
$second-font-color: #212121;
$menu-font-color: #ffffff;
$border-color: #f0f0f0;
$main-color: #82eaad;
$button-color: #6fe0f1;
$active-color: #62d5e9;
$second-color: #f6ff00;
$background-color: #f8f8f8;
$main-font: "Roboto", arial, sans-serif;
$second-font: "Intro", arial, sans-serif;
$header-background: #656565;
$feedback-link-color: #4298d2;
$phone-widget-color: #6ed4e4;
